/////////////////////////////////////////// Variables

$primary-color: #272727;
$secondary-color: #ff6347;
$primary-font-color: #fff;
$background-color: #111;

/////////////////////////////////////////// Mixins

@mixin border($direction) {
  @if $direction==left {
    border-left: 5px solid $secondary-color;
  }

  @else {
    border-right: 5px solid $secondary-color;
    text-align: right;
  }
}

/////////////////////////////////////////// Base & Misc.

* {
  font-family: 'Poppins', sans-serif;
  color: $primary-font-color;
  &::selection {
    background: $secondary-color;
  }
}

html {
  scroll-behavior: smooth;
  background-color: $primary-color;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
  pointer-events: none;
}

.container {
  width: 80%;
  margin: auto;

  @media (min-width: 768px) {
    max-width: 1200px;
  }
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

/////////////////////////////////////////// Header

header {
  background:
    linear-gradient(transparent, $primary-color),
    $primary-color url('img/background.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  margin-bottom: 2em;
}

h1 {
  font-size: 4em;
  margin: 0;
  text-align: center;
  padding: 10vh 10px 0 10px;

  @media (min-width: 768px) {
    font-size: 5em;
  }
}

.arrow {
  position: absolute;
  width: 20%;
  bottom: 2%;
  left: 40%;
  cursor: pointer;
  animation: 10s bounce 5s ease-in-out infinite;

  @media (min-width: 768px) {
    height: 10%;
  }
}


/////////////////////////////////////////// Main

#map {
  width: 100%;
  height: 400px;
  display: inline-block;
  background-color: $secondary-color;
  margin: 0 2em 2em 0;

  @media (min-width: 1000px) {
    width: calc(50% - 1em);
    float: left;
  }
}

i {
  color: $secondary-color;
}

.infosvg {
  width: 24px;
  height: 24px;
  fill: $secondary-color;
  margin-right: 10px;
}

/////////////////////////////////////////// Info Boxes

.infoBox {
  background: $background-color;
  padding: 1em;
  box-sizing: border-box;

  &:nth-child(even) {
    @include border(right);
  }

  &:nth-child(odd) {
    @include border(left)
  }

  & img {
    width: 100%;
  }
}

h3 {
  margin: 0;
  font-weight: bold;
  font-size: 2em;
}

/////////////////////////////////////////// Services

.services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
 
  & [class^="serviceBox"] {
    background-color: $background-color;
    border: none;
  }

  & span {
    font-size: 1.5em;
    color: $secondary-color;
  }

  & [class^="serviceInfo"] {
    background: $secondary-color;
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s;
    pointer-events: none;

     @media (min-width: 768px) {
      grid-column: span 2;
     }
  }

  & .showInfo {
    max-height: 9000px;
    transition: max-height .6s;
  }

  & .moreInfo {
    background: $background-color;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

    & .serviceInfo1 {
      grid-row: 2;
    }

    & .serviceInfo3 {
      grid-row: 5;
    }
  }
}

/////////////////////////////////////////// Dealer Logos
.dealerLogos {
  & * {
    width: 90%;
    margin: auto;
  }
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/////////////////////////////////////////// Gallery
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  & .main1, .main2 {
    grid-row: span 2;
    grid-column: span 2;
  }

  & .main2 {
    @media (min-width: 768px) {
      grid-row: 3/5;
      grid-column: 3/5;
    }
  }

  & img {
    background-color: gray;
    width: 100%;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}


/////////////////////////////////////////// Footer

footer {
  margin-top: 10px;
  text-align: center;
}

/////////////////////////////////////////// Animation

@keyframes bounce {

  0%,
  10%,
  20% {
    bottom: 2%;
  }

  5%,
  15% {
    bottom: 10%;
  }
}