* {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

*::-moz-selection {
  background: #ff6347;
}

*::selection {
  background: #ff6347;
}

html {
  scroll-behavior: smooth;
  background-color: #272727;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
  pointer-events: none;
}

.container {
  width: 80%;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#272727)), #272727 url("img/background.jpg") no-repeat center/cover;
  background: linear-gradient(transparent, #272727), #272727 url("img/background.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  margin-bottom: 2em;
}

h1 {
  font-size: 4em;
  margin: 0;
  text-align: center;
  padding: 10vh 10px 0 10px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5em;
  }
}

.arrow {
  position: absolute;
  width: 20%;
  bottom: 2%;
  left: 40%;
  cursor: pointer;
  -webkit-animation: 10s bounce 5s ease-in-out infinite;
          animation: 10s bounce 5s ease-in-out infinite;
}

@media (min-width: 768px) {
  .arrow {
    height: 10%;
  }
}

#map {
  width: 100%;
  height: 400px;
  display: inline-block;
  background-color: #ff6347;
  margin: 0 2em 2em 0;
}

@media (min-width: 1000px) {
  #map {
    width: calc(50% - 1em);
    float: left;
  }
}

i {
  color: #ff6347;
}

.infosvg {
  width: 24px;
  height: 24px;
  fill: #ff6347;
  margin-right: 10px;
}

.infoBox {
  background: #111;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.infoBox:nth-child(even) {
  border-right: 5px solid #ff6347;
  text-align: right;
}

.infoBox:nth-child(odd) {
  border-left: 5px solid #ff6347;
}

.infoBox img {
  width: 100%;
}

h3 {
  margin: 0;
  font-weight: bold;
  font-size: 2em;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.services [class^="serviceBox"] {
  background-color: #111;
  border: none;
}

.services span {
  font-size: 1.5em;
  color: #ff6347;
}

.services [class^="serviceInfo"] {
  background: #ff6347;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .6s;
  transition: max-height .6s;
  pointer-events: none;
}

@media (min-width: 768px) {
  .services [class^="serviceInfo"] {
    grid-column: span 2;
  }
}

.services .showInfo {
  max-height: 9000px;
  -webkit-transition: max-height .6s;
  transition: max-height .6s;
}

.services .moreInfo {
  background: #111;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .services .moreInfo {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .services {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .services .serviceInfo1 {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .services .serviceInfo3 {
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.gallery .main1, .gallery .main2 {
  grid-row: span 2;
  grid-column: span 2;
}

@media (min-width: 768px) {
  .gallery .main2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
}

.gallery img {
  background-color: gray;
  width: 100%;
}

@media (min-width: 768px) {
  .gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

footer {
  margin-top: 10px;
  text-align: center;
}

@-webkit-keyframes bounce {
  0%,
  10%,
  20% {
    bottom: 2%;
  }
  5%,
  15% {
    bottom: 10%;
  }
}

@keyframes bounce {
  0%,
  10%,
  20% {
    bottom: 2%;
  }
  5%,
  15% {
    bottom: 10%;
  }
}
/*# sourceMappingURL=stylesheets.css.map */